# <span style='font-weight: bold;'>Dictionaries in Python</span>

<img src='https://cdn.britannica.com/97/118097-050-5B2CF2EA/English-dictionary.jpg'/>

Used to store data values in **<span style='color: tomato;'>key:value</span>** pairs.

A dictionary is a collection which is **<span style='color: tomato;'>ordered</span>**, **<span style='color: tomato;'>changeable</span>** and **<span style='color: tomato;'>do not allow duplicates</span>**.

**Similar to:** JSON, Associative Arrays (PHP)

### <span style='font-weight: bold;'>Syntax</span>

```python
variable_name = {key1: value1, key2: value2, ..., keyn: valuen}
variable_name = {
    key1: value1, 
    key2: value2, 
    ..., 
    keyn: valuen
}
variable_name = dict(key1 = value1, key2 = value2, ..., keyn = valuen)
```

### <span style='font-weight: bold;'>Example</span>

```python
details = {
    'name': 'Ram',
    'program': 'BIM',
    'age': 25,
    'GPA': 3.4,
    'enrolled': False,
    'hobbies': ['singing', 'guff-gaff']
}

print(details)
```

### <span style='font-weight: bold;'>Using Dictionaries</span>

In [55]:
# DISPLAYING DICTIONARIES

details = {
    'name': 'Munna Bhai',
    'age': 67,
    'gpa': 8.0,
    'is_married': False,
    'salary': 27000,
    'languages_known': ['English', 'Hindi']
}

print(details)

{'name': 'Munna Bhai', 'age': 67, 'gpa': 8.0, 'is_married': False, 'salary': 27000, 'languages_known': ['English', 'Hindi']}

### <span style='font-weight: bold;'>dict()</span>

In [56]:
# USING DICT()

info = dict(name = 'Sanzeet', age = 23)
print(info)

{'name': 'Sanzeet', 'age': 23}

### <span style='font-weight: bold;'>Accessing Values</span>

In [64]:
# ACCESSING VALUES

print(details)

# BY KEYS
print(details['name'])
print(details['age'])

# BY get() FUNCTION
print(details.get('name'))
print(details.get('aklsjhkalhsjkahs'))
print(details.get('aklsjhkalhsjkahs', 100))

# print(details.get('name'))
# print(details.get('names', 'NA'))

{'name': 'Munna Bhai', 'age': 67, 'gpa': 8.0, 'is_married': False, 'salary': 27000, 'languages_known': ['English', 'Hindi']}
Munna Bhai
67
Munna Bhai
None
100

### <span style='font-weight: bold;'>Changing Values</span>

In [68]:
# CHANING VALUES

# BY ACCESSING KEYS
details['name'] = 'Anup'

print(details)


# USING update() FUNCTION
details.update({'name': 'Ricky'})
print(details)

{'name': 'Anup', 'age': 67, 'gpa': 8.0, 'is_married': False, 'salary': 27000, 'languages_known': ['English', 'Hindi']}
{'name': 'Ricky', 'age': 67, 'gpa': 8.0, 'is_married': False, 'salary': 27000, 'languages_known': ['English', 'Hindi']}

### <span style='font-weight: bold;'>Adding Values</span>

In [70]:
# ADDING

details = {
    'name': 'Munna Bhai',
    'age': 67,
    'gpa': 8.0,
    'is_married': False,
    'salary': 27000,
    'languages_known': ['English', 'Hindi']
}

# BY ACCESSING KEYS

details['location'] = 'Thamel'

# USING update() FUNCTION
details.update({'shambu': 'shampoo'})
print(details)

#

{'name': 'Munna Bhai', 'age': 67, 'gpa': 8.0, 'is_married': False, 'salary': 27000, 'languages_known': ['English', 'Hindi'], 'location': 'Thamel', 'shambu': 'shampoo'}

### <span style='font-weight: bold;'>Removing Values</span>

In [76]:
# REMOVING VALUES

details = {
    'name': 'Munna Bhai',
    'age': 67,
    'gpa': 8.0,
    'is_married': False,
    'salary': 27000,
    'languages_known': ['English', 'Hindi']
}


# popitem()
details.popitem()
print(details)

# pop()
details.pop('name')
print(details)

# clear()
details.clear()
print(details)

# REMOVING VALUES

details = {
    'name': 'Munna Bhai',
    'age': 67,
    'gpa': 8.0,
    'is_married': False,
    'salary': 27000,
    'languages_known': ['English', 'Hindi']
}


# del
del details['name']
print(details)

# del ...
del details
print(details)

{'name': 'Munna Bhai', 'age': 67, 'gpa': 8.0, 'is_married': False, 'salary': 27000}
{'age': 67, 'gpa': 8.0, 'is_married': False, 'salary': 27000}
{}
{'age': 67, 'gpa': 8.0, 'is_married': False, 'salary': 27000, 'languages_known': ['English', 'Hindi']}

NameError: name 'details' is not defined

### <span style='font-weight: bold;'>Accessing All Key, Values & Items</span>

In [79]:
# KEYS, VALUES, ITEMS

details = {
    'name': 'Munna Bhai',
    'age': 67,
    'gpa': 8.0,
    'is_married': False,
    'salary': 27000,
    'languages_known': ['English', 'Hindi']
}

print(details.keys())
print(details.values())
print(details.items())

dict_keys(['name', 'age', 'gpa', 'is_married', 'salary', 'languages_known'])
dict_values(['Munna Bhai', 67, 8.0, False, 27000, ['English', 'Hindi']])
dict_items([('name', 'Munna Bhai'), ('age', 67), ('gpa', 8.0), ('is_married', False), ('salary', 27000), ('languages_known', ['English', 'Hindi'])])

### <span style='font-weight: bold;'>Looping</span>

In [87]:
# LOOPING
for value in details:
    print(value)

for key, value in details:
    print(key, value)

name
age
gpa
is_married
salary
languages_known

ValueError: too many values to unpack (expected 2)

### <span style='font-weight: bold;'>Looping Properly</span>

In [86]:
# LOOPING PROPERLY

# keys()
for key in details.keys():
    print(key)

print()
# values()
for value in details.values():
    print(value)

print()

# items()
for key, value in details.items():
    print(key, value, sep=": ")

name
age
gpa
is_married
salary
languages_known

Munna Bhai
67
8.0
False
27000
['English', 'Hindi']

name: Munna Bhai
age: 67
gpa: 8.0
is_married: False
salary: 27000
languages_known: ['English', 'Hindi']

### <span style='font-weight: bold;'>Checking Values</span>

In [92]:
# CHECKING VALUES

details = {
    'name': 'Munna Bhai',
    'program': 'MBBS',
    'age': 67,
    'GPA': 8.0,
    'scholarship': True,
    'hobbies': ['Singing', 'Dancing']
}

print('name' in details)
print('akshakjhsj' in details)
print('MBBS' in details.values())
print('MBBSaksjhkjahshkj' in details.values())

True
False
True
False

### <span style='font-weight: bold;'>Task(s)</span> 

1. Write a code which declares a variable named temps which stores cities as keys, and their temperature on account of multiple days as values (use list to store the value), and finally displays the average temperature of each city as output.

In [ ]:
temps = {
    'Hetauda': [25, 26, 28, 29, 30, 30],
    'Kathmandu': [25, 22, 19, 19, 20, 20, 21],
    'Pokhara': [17, 18, 19, 16, 16, 20]
}

for k, v in temps.items():
    print(k, v, sep=': ')

Hetauda: 28°C
Kathmandu: 20°C
Pokhara: 17°C