# <span style='color: #FEFEFE; font-weight: bold;'>Lists in Python</span>

Lists is the **collection of items** that store multiple values into a single variable.

## <span style='color: #FEFEFE; font-weight: bold;'>Syntax</span>

```python
variable_name = [value_1, value_2, ... value_n]
variable_name = list((value_1, value_2, ... value_n))
variable_name = list(range(5))
```

## <span style='color: #FEFEFE; font-weight: bold;'>Example</span>

```python
nums = [1, 2, 3, 4, 5]
print(nums)

nums = list((1, 2, 3))
print(nums)

nums = list(range(5))
print(nums)
```

In [67]:
nums = [1, 2, 3, 4, 5]
print(nums)

nums = list((1, 2, 3))
print(nums)

nums = list(range(5))
print(nums)

multi = [[1, 2, 3], [4, 5, 6]]
print(multi)

print(list(range(2, 51, 2)))

[1, 2, 3, 4, 5]
[1, 2, 3]
[0, 1, 2, 3, 4]
[[1, 2, 3], [4, 5, 6]]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

### **Task**

1. Create a list, also try to create a multi-dimensional list.
2. Create a list of even numbers till 50 using range function.

In [23]:
even = list(range(2, 51, 1))
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

___
## <span style='color: #FEFEFE; font-weight: bold;'>Lists vs. Arrays</span>

The lists in Python are <span style="color:#FEFEFE;">**more or less arrays**</span>. Python does not have built-in arrays like C, Java, and that's where lists come into play. Python howeever has libraries to mimic the workflow of arrays that we are faimiliar with in other programming languages, while lists are native.

<!-- This <span style="color:red">word</span> is not black. -->

### <span style='color: #FEFEFE; font-weight: bold;'>Similarities</span>

They are similar conceptually as:

- Both store **multiple values**.
- Both are ordered.
- Both are indexed.
- Can be iterated.

### <span style='color: #F0F0F0; font-weight: bold;'>Differences</span>


|       Lists        |      Arrays          |
|---- | ----
| ...   | ...  |

____

## <span style='color: #F0F0F0; font-weight: bold;'>Properties</span>

### 0. <span style='color: #F0F0F0; font-weight: bold;'>Can Store Multiple Values</span>

**We all know that, <span style='color: tomato;'>RIGHT?</span>**

**We can also store mixed values:**

```python
nums = [False, 1, "Two", 3.0, 4j, None]
```

In [73]:
nums = [False, 1, "Two", 3.0, 4j, None]
print(nums)
print(type(nums))
print(type(nums[1]))
print(type(nums[-1]))

[False, 1, 'Two', 3.0, 4j, None]
<class 'list'>
<class 'int'>
<class 'NoneType'>

### 1. <span style='color: #F0F0F0; font-weight: bold;'>Ordered, Indexed & Iterable</span>

In [16]:
nums = [44, 45, 46, 47]

print(nums)

# Ordered: Same order.
print(f"\nAlways follows the same order: {nums}")                 

# Indexed: Unique position for all values.
print("\n", nums[0], nums[1], nums[2], nums[3], nums[-1])             

# Iterable with loops.
print("\nIterable")
for i in range(len(nums)):
    print(f"{i}: {nums[i]}")

print()

# Without index.
for num in nums:
    print(num)

[44, 45, 46, 47]

Always follows the same order: [44, 45, 46, 47]

 44 45 46 47 47

Iterable
0: 44
1: 45
2: 46
3: 47

44
45
46
47

In [77]:
nums = [1, 2, 3, 4, 5]
print(nums)

# Indexed
for i in range(len(nums)):
    print(nums[i])
    
# Without using index.

for n in nums:
    print(n)

[1, 2, 3, 4, 5]
1
2
3
4
5
1
2
3
4
5

### 2. <span style='color: #F0F0F0; font-weight: bold;'>Mutable</span>

Lists are mutable (changable). This one feature alone separates lists from strings and tuples.

#### Example

```python
name = "Piyush"
name[0] = "Z"   # Error

nums = ['P', 'i', 'y', 'u', 's', 'h']
nums[0] = 'Z'

print(nums)

```

In [29]:
name = "Piyush"
# name[0] = "Z"   # Error

nums = ['P', 'i', 'y', 'u', 's', 'h']
nums[0] = 'Z'

print(nums)
# print(''.join(nums))

['Z', 'i', 'y', 'u', 's', 'h']

In [82]:
nums = ['P', 'i', 'y', 'u', 's', 'h']
print(''.join(nums))

nums[0] = 'Z'
print(''.join(nums))

Piyush
Ziyush

____

## <span style='color: #F0F0F0; font-weight: bold;'>Slicing is Fun!</span>

<img src="https://slicesoda.com/cdn/shop/files/portfolio_1.png?v=1746055670" height="300">

### <span style='color: #F0F0F0; font-weight: bold;'>Syntax!</span>

```python
list_name[start(inclusive): end(exclusive): steps]

lst[1:3]
lst[:2]
lst[::2]
lst[::-1]
```

In [92]:
# nums = [1, 2, 3, 4, 5]
# print(nums[1:3])
# print(nums[:2])
# print(nums[::2])
# print(nums[::-1])

nums = [1, 2, 3, 4, 5]

print(nums)
print(nums[1:])
print(nums[1:3])
print(nums[:4])
print(nums[::-1])
print(nums[::3])

[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[2, 3]
[1, 2, 3, 4]
[5, 4, 3, 2, 1]
[1, 4]

____

## <span style='color: #F0F0F0; font-weight: bold;'>Looping Through Lists</span> 

### <span style='color: #F0F0F0; font-weight: bold;'>Loop with Indexed</span>
```python
for i in range(len(list)):
    print(list[i])
```

### <span style='color: #F0F0F0; font-weight: bold;'>Loop with Value</span>
```python
for v in list:
    print(v)
```

### <span style='color: #F0F0F0; font-weight: bold;'>Loop with Index + Value</span>

<span style='color: #F0F0F0; font-weight: bold;'>Using enumerate()</span>
> The enumerate() function is a Python tool that allows you to loop through an iterableâ€”like a list, tuple, or string, and have access to both the index and the element itself.

```python
for i, v in enumerate(list):
    print(i, v)
```

In [64]:
nums = [1, 2, 3, 4, 56]
for i, v in enumerate(nums):
    print(i, ":", v)

0 : 1
1 : 2
2 : 3
3 : 4
4 : 56

In [ ]:
nums = [1, 2, 3]
for index, value in enumerate(nums):
    print(index, " : " , value)

0  :  1
1  :  2
2  :  3

### <span style='color: #F0F0F0; font-weight: bold;'>Task(s)</span> 

1. Find the sum of all the items in a list, also find the largest and the smallest item.
2. Input n items and push them in a list, and finally display them.
3. Create and display (using loops) a multidimensional list.

In [78]:
li = [[1, 2], [3, 4]]

for v in li:
    for val in v:
        print(val)

1
2
3
4

___


## <span style='color: #F0F0F0; font-weight: bold;'>List Functions!</span>

### 1. <span style='color: #F0F0F0; font-weight: bold;'>Adding</span>

#### 1.1. <span style='color: #F0F0F0; font-weight: bold;'>Adding w. append()</span>

##### <span style='color: #F0F0F0; font-weight: bold;'>Syntax</span>

```python
list.append(entry)

# Note: entry not index.
```

In [80]:
nums = [1, 2, 3]
print(nums)
nums.append(4)
print(nums)

[1, 2, 3]
[1, 2, 3, 4]

#### 1.2. <span style='color: #F0F0F0; font-weight: bold;'>Adding w. insert()</span>

##### <span style='color: #F0F0F0; font-weight: bold;'>Syntax</span>

```python
list.insert(index, entry)
```

In [52]:
print(nums)
nums.insert(0, 0)
print(nums)
nums.insert(len(nums), 5)
print(nums)

[1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]

#### 1.3. <span style='color: #F0F0F0; font-weight: bold;'>Adding w. extend()</span>

##### <span style='color: #F0F0F0; font-weight: bold;'>Syntax</span>

```python
list.extend(list)
```

In [53]:
nums.extend([6, 7, 8])
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

### 2. <span style='color: #F0F0F0; font-weight: bold;'>Deleting</span>

#### 2.1. <span style='color: #F0F0F0; font-weight: bold;'>Deleting w. pop()</span>

##### <span style='color: #F0F0F0; font-weight: bold;'>Syntax</span>

```python
list.pop()

# Note: We do not have a push() method.
```

In [55]:
print(nums)
nums.pop()
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7]

#### 2.2. <span style='color: #F0F0F0; font-weight: bold;'>Deleting w. remove()</span>

##### <span style='color: #F0F0F0; font-weight: bold;'>Syntax</span>

```python
list.remove(entry)

# Note: entry not index.
```

In [ ]:
print(nums)
nums.remove(0)
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
nums = [1, 2, 3, 4, 7]
print(nums)
# Faulty Code
nums.remove(20)
print(nums)

#### 2.3. <span style='color: #F0F0F0; font-weight: bold;'>Deleting w. del</span>

##### <span style='color: #F0F0F0; font-weight: bold;'>Syntax</span>

```python
del list[index]
```

In [3]:
print(nums)
del nums[0]
print(nums)

[1, 2, 3, 4]
[2, 3, 4]

### 3. <span style='color: #F0F0F0; font-weight: bold;'>Copying Lists</span>

#### <span style='color: #F0F0F0; font-weight: bold;'>Syntax</span>

```python
new_variable = list_variable
```

In [14]:
a = [1, 2, 3]
b = a
print(a, b)

[1, 2, 3] [1, 2, 3]

In [15]:
b[0] = 90
print(a, b)

[90, 2, 3] [90, 2, 3]

<img src="https://thefisheriesblog.com/wp-content/uploads/2013/01/60cfe-smellsfishy.gif" height="300"/>

**Copy by <span style='color: tomato;'>Value</span> vs. Copy by <span style='color: tomato;'>Reference</span>**


**Which one is this?**

<details>
<summary> <b>Answer</b> </summary>
  <br/><b>Copy by <span style='color: tomato;'>Reference</span></b>
</details>
<br/>
<details>
<summary> <b>Homework</b> </summary>
  <br/><b>Copy by <span style='color: tomato;'>Value</span> vs. Copy by <span style='color: tomato;'>Reference</span></b>
</details>

In [17]:
print(a, b)
print(id(a), id(b))
print(id(a[0]), id(b[0]))

[90, 2, 3] [90, 2, 3]
4383391232 4383391232
4321341208 4321341208

#### 3.1. <span style='color: #F0F0F0; font-weight: bold;'>Copying Lists using copy()</span>

Creating shallow copy of the lists (copy by value).

##### <span style='color: #F0F0F0; font-weight: bold;'>Syntax</span>

```python
a = [1, 2, 3]
b = a.copy()
```

In [20]:
a = [1, 2, 3]
b = a.copy()

print(a, b)

b[0] = 90
print(a, b)

[1, 2, 3] [1, 2, 3]
[1, 2, 3] [90, 2, 3]

#### 3.2. <span style='color: #F0F0F0; font-weight: bold;'>Copying Lists using slice</span>

##### <span style='color: #F0F0F0; font-weight: bold;'>Syntax</span>
```python
a = [1,2,3]
b = a[:]
print(a, b)
b[0] = 30
print(a, b)
```

In [21]:
a = [1,2,3]
b = a[:]
print(a, b)
b[0] = 30
print(a, b)

[1, 2, 3] [1, 2, 3]
[1, 2, 3] [30, 2, 3]

#### 3.3. <span style='color: #F0F0F0; font-weight: bold;'>Copying Lists using list()</span>

##### <span style='color: #F0F0F0; font-weight: bold;'>Syntax</span>
```python
a = [1,2,3]
b = list(a)
print(a, b)
b[0] = 50
print(a, b)
```

In [22]:
a = [1,2,3]
b = list(a)
print(a, b)
b[0] = 50
print(a, b)

[1, 2, 3] [1, 2, 3]
[1, 2, 3] [50, 2, 3]

> Shallow copies are well... shallow (of little depth), hence can not do justice to nested lists.

In [ ]:
a = [[1], [2], [3]]
b = a.copy()
c = a[:]
d = list(a)
print(a, " - ", b, " - ", c, " - ", d, "\n")

# a[0] = 100
# print(a, " - ", b, " - ", c, " - ", d, "\n")

# b[0][0] = 10
# print(a, " - ", b, " - ", c, " - ", d, "\n")

# c[1][0] = 20
# print(a, " - ", b, " - ", c, " - ", d, "\n")

# d[2][0] = 30
# print(a, " - ", b, " - ", c, " - ", d, "\n")

[[1], [2], [3]]  -  [[1], [2], [3]]  -  [[1], [2], [3]]  -  [[1], [2], [3]]

[100, [2], [3]]  -  [[1], [2], [3]]  -  [[1], [2], [3]]  -  [[1], [2], [3]]

[100, [2], [3]]  -  [[10], [2], [3]]  -  [[10], [2], [3]]  -  [[10], [2], [3]]

[100, [20], [3]]  -  [[10], [20], [3]]  -  [[10], [20], [3]]  -  [[10], [20], [3]]

[100, [20], [30]]  -  [[10], [20], [30]]  -  [[10], [20], [30]]  -  [[10], [20], [30]]

#### 3.4. <span style='color: #F0F0F0; font-weight: bold;'>Copying Lists using deepcopy()</span>

Creating deep copy of the lists (copy by value).

##### <span style='color: #F0F0F0; font-weight: bold;'>Syntax</span>

```python
import copy

a = [[1, 2], [3, 4]]
b = copy.deepcopy(a)
```

In [39]:
import copy

a = [[1, 2], [3, 4]]
b = copy.deepcopy(a)

print(a, " - ", b, "\n")

b[0][0] = 10
print(a, " - ", b, "\n")

[[1, 2], [3, 4]]  -  [[1, 2], [3, 4]]

[[1, 2], [3, 4]]  -  [[10, 2], [3, 4]]

### 4. <span style='color: #F0F0F0; font-weight: bold;'>Sorting</span>

#### 4.1. <span style='color: #F0F0F0; font-weight: bold;'>Sorting using sort()</span>
> Sorts the provided list.

##### <span style='color: #F0F0F0; font-weight: bold;'>Syntax</span>

```python
a = [1, -2, 33, 4]
print(a)
a.sort()
print(a)
```

In [42]:
a = [1, -2, 33, 4]
print(a)
a.sort()
print(a)

[1, -2, 33, 4]
[-2, 1, 4, 33]

##### <span style='color: #F0F0F0; font-weight: bold;'>Syntax (Descending Order)</span>

```python
a = [22, 1, 4, 95]
print(a)
a.sort(reverse=True)
print(a)
```

In [44]:
a = [22, 1, 4, 95]
print(a)
a.sort(reverse=True)
print(a)

[22, 1, 4, 95]
[95, 22, 4, 1]

##### <span style='color: #F0F0F0; font-weight: bold;'>Sorting Multidimensional Lists</span>

In [50]:
a = [[1, 2], [3, 4]]
print(a)
a.sort(reverse=True)
print(a)

[[1, 2], [3, 4]]
[[3, 4], [1, 2]]

#### 4.2. <span style='color: #F0F0F0; font-weight: bold;'>Sorting using sorted()</span>

> Returns a new sorted list.

##### <span style='color: #F0F0F0; font-weight: bold;'>Syntax</span>

```python
a = [1, -2, 33, 4]
b = sorted(a)
print(a, b)
```

In [45]:
a = [1, -2, 33, 4]
b = sorted(a)
print(a, b)

[1, -2, 33, 4] [-2, 1, 4, 33]

### 5. <span style='color: #F0F0F0; font-weight: bold;'>Joining</span>

#### 5.1. <span style='color: #F0F0F0; font-weight: bold;'>Join using +</span>

> Join seperate list variables into one.

##### <span style='color: #F0F0F0; font-weight: bold;'>Syntax</span>

```python
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(a, b, c)
```

In [47]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(a)
print(b)
print(c)

[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [48]:
a = [[1, 2], [3, 4]]
b = [3.14, [2, True]]
print(a + b)

[[1, 2], [3, 4], 3.14, [2, True]]

### 6. <span style='color: #F0F0F0; font-weight: bold;'>Extras</span>

#### 6.1. <span style='color: #F0F0F0; font-weight: bold;'>in operator</span>

##### <span style='color: #F0F0F0; font-weight: bold;'>Syntax</span>

```python
a = [1, 2, 3]
print(1 in a)
```

In [54]:
a = [1, 2, 3]
print(1 in a)
print(33 in a)

True
False

#### 6.2. <span style='color: #F0F0F0; font-weight: bold;'>count()</span>

##### <span style='color: #F0F0F0; font-weight: bold;'>Syntax</span>

```python
a = [1, 1, 1, 2, 2, 3]
print(a.count(1))
```

In [ ]:
a = [1, 1, 1, 2, 2, 3]
print(a.count(1))
print(a.count('Apple'))

3
0

#### 6.3. <span style='color: #F0F0F0; font-weight: bold;'>sum()</span>

<p>Returns the sum of the list items.</p>

##### <span style='color: #F0F0F0; font-weight: bold;'>Syntax</span>

```python
nums = [1, 2, 3, 4, 5]
print(sum(nums))
```

> Functions like sum(), input(), max(), min() are imported by default, however if issue arises, we can import it and use it as:

```python
import builtins
nums = [1, 2, 3, 4, 5]
print(builtins.sum(nums))
```

In [86]:
import builtins
nums = [1, 2, 3, 4, 5]
print(builtins.sum(nums))

15

#### 6.4. <span style='color: #F0F0F0; font-weight: bold;'>min() & max()</span>

<p>Returns the min and max values of the list.</p>

##### <span style='color: #F0F0F0; font-weight: bold;'>Syntax</span>

```python
nums = [1, 2, 3, 4, 5]
print(sum(nums))
```

> Functions like sum(), input(), max(), min() are imported by default, however if issue arises, we can import it and use it as:

```python
import builtins
nums = [1, 2, 3, 4, 5]
print(builtins.sum(nums))
```

#### 6.5. <span style='color: #F0F0F0; font-weight: bold;'>any()</span>

<p>Returns True if at least one element in an iterable is "truthy" (evaluates to True) and False otherwise.</p>

##### <span style='color: #F0F0F0; font-weight: bold;'>Syntax</span>

```python
a = ["Apple", "Ball", "Pen"]
if any("Apple" in a for i in a):
    print("Found")
else:
    print("Not Found")
```

In [6]:
a = ["Apple", "Ball", "Pen"]
# if any("Apple" in a for i in a):
#     print("Found")
# else:
#     print("Not Found")
    
if any(123 in a for i in a):
    print("Found")
else:
    print("Not Found")

Not Found

#### 6.6. <span style='color: #F0F0F0; font-weight: bold;'>Extras of Extras</span>

In [3]:
li = [1, 2, 3] * 3

print(li)
print("Hello" * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
HelloHelloHello

In [11]:
for i in range(5):
    print("Hello!")

Hello!
Hello!
Hello!
Hello!
Hello!

In [8]:
temps = {
    'Hetauda': [31, 32, 34, 29],
    'Kathmandu': [21, 25, 23, 23],
    'Pokhara': [18, 19, 19, 19]
}

for k, v in temps.items():
    avg_temp = sum(v)/len(v)
    print(k, ": ", avg_temp)

Hetauda :  31.5
Kathmandu :  23.0
Pokhara :  18.75

In [9]:
s = "Piyush"
print(s[::-1])

hsuyiP

In [ ]:
n1 = [[1, 2], [2, 3]]
n2 = [[1, 1], [1, 1]]

for i in range(len(n1)):
    for j in range(len(n1[i])):
       print(n1[i][j] + n2[i][j], end = "\t")
    print()

2	3
3	4

### 7. <span style='color: #F0F0F0; font-weight: bold;'>List Comprehension</span>

<p>Offers a shorter syntax when you want to create a new list based on the values of an existing list.</p>

In [2]:
li = []
for v in range(10):
    li.append(v)
    
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
li = [v for v in range(10)]
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
students = ['Abhishek', 'Abiskar', 'Anjali', 'Anshu', 'Anup']

li = [v for v in students]

print(li)

['Abhishek', 'Abiskar', 'Anjali', 'Anshu', 'Anup']

In [5]:
li = [v for v in students if 'k' in v]

print(li)

['Abhishek', 'Abiskar']